@media (max-width: 660px) {
    emoji-picker {
        --num-columns: 6;
        --category-emoji-size: 0.9rem;
    }
}

emoji-picker {
    --skintone-border-radius: 1rem;
    --input-border-radius: 0.7rem;
}

.picker {
    border-radius: 20rem !important;
}
